@import "tabs-horizontal.css";
/*@import "tabs-vertical.css"; */


/* From Bootstrap */
body {
  margin: 0;
}
ul {
  margin-top: 0;
 /* margin-bottom: 10px;*/
}

.list-group {
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  height: 18.4px;      /* need to explicitly specify if using other than 18.4. height, max-height and line height must be the same */
  max-height: 18.4px;  /* prevent epanding */
  line-height: 18.4px; /* vertically centers text */
  margin-top: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  /* color: #fff;
  background-color: #337ab7;
  */
  border-color: #337ab7;
}



/* Horizontal/Vertical overrides */
#tabsPanel {
	margin-left: 10px;
}

.tab button:hover {			/* Change background color of buttons on hover */
	background-color: #ddd;
}

.tab button.active {		/* Create an active/current "tab button" class */
	background-color: #ccc;
}



/* other */

/* https://stackoverflow.com/questions/43020415/float-icon-inside-button-to-the-right?answertab=active#tab-top */
/* https://stackoverflow.com/questions/47755767/ui-modal-dialog-ui-icon-close-color-change */
#tab .ui-icon-closethick {
	position:absolute;
	right:5%;
	top:15%;
	background-image: url("../images/ui-icons_777777_256x240.png");
	opacity: .2;
}
#tab .ui-icon-closethick:hover {
	cursor: pointer;
	background-image: url("../images/ui-icons_cc0000_256x240.png");
	opacity: 1;
}

/* https://stackoverflow.com/questions/47755767/ui-modal-dialog-ui-icon-close-color-change */
.list-group-item .ui-icon-closethick {
	float: right;
	margin: 0.1em;
	background-image: url("../images/ui-icons_777777_256x240.png");
	opacity: .2;
}
.list-group-item .ui-icon-closethick:hover {
	cursor: pointer;
	background-image: url("../images/ui-icons_cc0000_256x240.png");
	opacity: 1;
}

/*.chosen-item .ui-icon-closethick {display: none;}
.chosen-item .PoCaRangeOTF {display: none;}*/


/* https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop */
.grabbable {
    cursor: move; /* fallback: no `url()` support or images disabled */
    /*cursor: url(images/grab.cur);  fallback: Internet Explorer */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}
 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active,
.chosen-item { /* overrides default arrow pointer from SortableJS*/
    /*cursor: url(images/grabbing.cur);*/
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.drag-item {
	border: solid;
	border-radius: 4px;
	opacity: 1;
}

.ghost-item:not(.drag-item) {
	border: solid;
	border-width: thin;
	opacity: .5;
}

.background-items .list-group-item {
	opacity: .25;
}

/* Clear floats after the tab */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}